* { margin:0; padding:0; }
li { list-style:none; }

.header { height:160px; background-color:white; }
.menu { height:50px; background-color:black; }
.menu .list { width:500px; margin:0 auto; }
.menu .list .item { width:100px; float:left; line-height:50px; color:#fff; 
    text-align:center; cursor:pointer; }
.section { height:1000px; font-size:200px; }

.section1 { background-color:yellowgreen; padding-top:50px; }
.section2 { background-color:skyblue; }
.section3 { background-color:lightcoral; }
.section4 { background-color:lightseagreen; }
.section5 { background-color:lightsalmon; }

.menu { 
    transition:background-color .4s ease;
    position:absolute; width:100%;
}
.menu.fixed { position:fixed; top:0; width:100%; 
    background-color:rgba(0,0,0,0.6); }

.item.active { background-color:red; }