/* 가변그리드의 가장 중요한 포인트는
    % 개념이다.

    1000px -> 90% -> 900px
    100px -> 90% -> 90px
*/

header {
    width:90%;
    height:100px; background-color:orangered;
    margin:0 auto;
}

section { 
    width:90%; height:200px; 
    background-color:#222; margin:0 auto; 
}

.box { 
    height:100%; float:left;
    width:calc(25% - 30px); 
    /*태그 사이에 간격을 30px;을 준다.*/
    margin:0 15px;
}

.wrapper { margin:0 -15px; height:100%; }

.box:nth-child(1) { background-color:orchid; }
.box:nth-child(2) { background-color:chocolate; }
.box:nth-child(3) { background-color:aqua; }
.box:nth-child(4) { background-color:darkkhaki; }



